/*

    Description: This custom CSS file is used to modify the default behavior of the Sorbet theme and it also adds some new functionality.

    Author: Xavier Amoros
*/
.site-header img{
    max-height:60%;
}

.site-title{
/*    margin-top: -30px;
*/    /*overflow:visible;*/
    /*z-index: 9999;*/
    /*display: block;*/
}
.site-title a{
    font-size:2.4em;
}

.site-description a{
    font-size:1.1em;
    color:rgba(150, 151, 153, 1); 
}

.site-header { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.site-branding { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 25px 20px 5px 25px; 
   /*position: absolute; */
   position: relative;    
   /*top: 275px; */
   left: 0; 
   width: 35%;  
   position: absolute;
   /*top: 10px;*/
   bottom: 20%;
   margin-bottom: 2%;
}


